* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Synonym", sans-serif;
  font-style: normal;
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

@font-face {
  font-family: 'Amulya';
  src: url('../assets/fonts/Amulya-Variable.eot');
  src: url('../assets/fonts/Amulya-Variable.ttf') format('ttf'),
    url('../assets/fonts/Amulya-Variable.woff') format('woff'),
    url('../assets/fonts/Amulya-Variable.woff2') format('woff2');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Synonym";
  src: url("../assets/fonts/Synonym-Variable.eot");
  src: url('../assets/fonts/Synonym-Variable.ttf') format('ttf'),
    url('../assets/fonts/Synonym-Variable.woff') format('woff'),
    url('../assets/fonts/Synonym-Variable.woff2') format('woff2');
}

:root {
  --white: #fff;
  --black: #000;
  --outline: #d5d5d5;
}