main {
	margin-top: 2vw;
	padding: 0 5rem;
}

.swiper {
	height: 80dvh;
  width: 100%;
}

.explore img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	flex-shrink: 0;
	scroll-snap-align: start;
	mask-position: bottom;
	user-select: none;
	pointer-events: none;
}

.swiper-slide {
	position: relative;
}

.explore {
	position: absolute;
	left: 3rem;
	bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	color: var(--white);
}
.explore p {
	font-size: 16px;
	font-family: "Synonym-Medium", sans-serif;
}

.explore p:last-child {
	font-size: 14px;
}

.explore h2 {
	font-size: 48px;
	font-family: "Amulya", sans-serif;
	font-weight: normal;
	font-weight: 100;
}

.explore button {
	font-size: 16px;
	margin-top: 29px;
	font-family: "Synonym-Medium", sans-serif;
	text-transform: uppercase;
	width: 212px;
	height: 48px;
	outline: none;
	border: 0;
	color: var(--black);
	cursor: pointer;
	background-color: var(--white);
}

.explore button i {
	font-size: 16px;
}