.hero {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.background-images {
	display: grid;
	grid-auto-flow: column;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	width: 1325px;
}

.background-images::-webkit-scrollbar {
	display: none;
}

.background-images img {
	object-fit: cover;
	flex-shrink: 0;
	scroll-snap-align: start;
	mask-position: bottom;
	user-select: none;
	pointer-events: none;
}

.explore {
	position: absolute;
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	margin: 80px 50px;
}
.explore p {
	font-size: 16px;
	font-family: "Synonym-Medium", sans-serif;
}

.explore h2 {
	font-size: 48px;
	font-family: "Amulya", sans-serif;
	font-weight: normal;
	font-weight: 100;
}

.explore button {
	font-size: 14px;
	margin-top: 29px;
	font-family: "Synonym-Medium", sans-serif;
	width: 212px;
	height: 48px;
	outline: none;
	border: 0;
	color: #333333;
	font-weight: 100;
	cursor: pointer;
	background-color: #ffffff;
}