main {
	margin-top: 2vw;
	padding: 0 5rem;
}

.swiper {
	height: 80dvh;
  	width: 100%;
}

.explore img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	flex-shrink: 0;
	scroll-snap-align: start;
	mask-position: bottom;
	user-select: none;
	pointer-events: none;
}

.swiper-slide {
	position: relative;
}

.explore {
	position: absolute;
	left: 3rem;
	bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	color: var(--white);
}

.explore p {
	font-size: 16px;
	font-family: "Synonym-Medium", sans-serif;
}

.explore p:last-child {
	font-size: 14px;
}

.explore h2 {
	font-size: 48px;
	font-family: "Amulya", sans-serif;
	font-weight: normal;
	font-weight: 100;
}

.explore button {
	font-size: 16px;
	margin-top: 29px;
	font-family: "Synonym-Medium", sans-serif;
	text-transform: uppercase;
	width: 212px;
	height: 48px;
	outline: none;
	border: 0;
	color: var(--black);
	cursor: pointer;
	background-color: var(--white);
}

.explore button i {
	font-size: 16px;
}

.collection-store-category{
	margin-top: 30px;
 	width: 100%;
  	max-width: 1400px;
  	box-sizing: border-box;

	p{
		font-family: "Synonym";
		color: var(--accent);
		font-size: 18px;
		font-size: clamp(12px, 3vw, 18px);
		margin: 0;
	}

	h2{
		font-family: 'Amulya';
		color: var(--black);
		font-size: clamp(20px, 7vw, 49px);
		margin: 0;
	}
}

.collection{
	display: flex;
	gap: 20px;
	width: 100%;
}

.collection-card{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.collection-card img{
	width: 100%;
	height: auto;
	display: block;
	object-position: center;
	object-fit: cover;
}

.collection-link{
	position: absolute;
    top: 0;
    left: clamp(15px, 3vw, 30px);
    bottom: clamp(15px, 3vw, 30px);
	right: 0;
	text-align: left;
}

.collection-link h2{
	margin: 0;
  	font-size: clamp(22px, 3vw, 48px);
	color: white;
	font-family: "Synonym";
	font-weight: bolder;
}

.collection-link p{
	font-family: "Synonym-Medium";
	color: white;
	margin: 0;
  	font-size: clamp(1rem, 2.5vw, 1.5rem);
}



@media (max-width: 800px) {
	.collection{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.collection-link h2{
		margin: 0;
		font-size: clamp(2px, 7vw, 4rem);
		color: white;
		font-family: "Synonym";
	}

	.collection-link p{
		font-family: "Synonym-Medium";
		color: white;
		margin: 0;
		font-size: clamp(1rem, 3vw, 3rem);
	}
}